.back,
.svg-icon {
  position: relative;
}
.svg-icon {
  height: 24px;
  width: 24px;
  min-height: 24px;
}
.back {
  align-self: stretch;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  font-family: Inter;
  color: rgba(12, 12, 13, 0.74);
  text-align: center;
  display: inline-block;
  min-width: 33.4px;
}
.back-wrapper,
.button {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.back-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 3px 0 0;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 8px 15px 8px 16px;
  background-color: rgba(144, 127, 111, 0.1);
  width: 97.1px;
  border-radius: 20px;
  flex-direction: row;
  box-sizing: border-box;
  gap: 8px;
}
.heading-22 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.2px;
  line-height: 24px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 66px;
}
.svg-icon1 {
  width: 28px;
  height: 28px;
  position: relative;
}
.svg-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 0 0;
}
.plan-type {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  min-width: 73.2px;
}
.data-only-esim {
  position: relative;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #0c0c0d;
}
.frame-container,
.plan-type-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
}
.frame-container {
  flex-direction: row;
  gap: 16px;
  max-width: 100%;
}
.svg-icon2 {
  width: 28px;
  height: 28px;
  position: relative;
}
.svg-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 0 0;
}
.payment {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  min-width: 60.3px;
}
.the-payment-for {
  position: relative;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #0c0c0d;
}
.background,
.frame-div,
.frame-group,
.payment-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.payment-parent {
  flex-direction: column;
  gap: 2px;
  max-width: calc(100% - 44px);
}
.background,
.frame-div,
.frame-group {
  max-width: 100%;
}
.frame-div {
  flex-direction: row;
  gap: 16px;
}
.background,
.frame-group {
  flex-direction: column;
}
.frame-group {
  gap: 20px;
  font-size: 12px;
  color: rgba(12, 12, 13, 0.46);
}
.background {
  align-self: stretch;
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
  padding: 16px 16px 18px;
  box-sizing: border-box;
  gap: 22px;
  font-size: 20px;
}
.heading-23 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.1px;
  line-height: 32px;
  font-weight: 600;
  font-family: inherit;
}
.heading-2-how-does-esim-from-wrapper {
  width: 391px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.button-svg4,
.button-svg5 {
  height: 40px;
  width: 40px;
  position: relative;
  min-height: 40px;
}
.button-svg5 {
  object-fit: contain;
}
.button-svg-parent,
.frame-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button-svg-parent {
  justify-content: flex-start;
  row-gap: 20px;
}
.frame-parent1 {
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.section-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 24px;
}
.container1,
.section-inner,
.section2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.container1 {
  width: 720px;
  overflow-x: auto;
  flex-direction: row;
  padding: 0 24px;
  gap: 8px;
}
.section2 {
  align-self: stretch;
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: 24px 0;
  gap: 24px;
}
.heading-24 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.1px;
  line-height: 32px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.container2,
.section3 {
  flex-shrink: 0;
  max-width: 100%;
}
.section3 {
  align-self: stretch;
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15.5px 0 25px 16px;
  box-sizing: border-box;
  gap: 32.5px;
}
.container2 {
  width: 1920px;
  height: 92px;
  position: relative;
  display: none;
}
.activation,
.httpsyesimappinternationa {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.httpsyesimappinternationa {
  flex: 1;
  background-color: #eaeaea;
  overflow-y: auto;
  flex-direction: column;
  padding: 90px 600px 0;
  box-sizing: border-box;
  gap: 16px;
  max-width: 100%;
  text-align: left;
  font-size: 24px;
  color: #0c0c0d;
  font-family: Inter;
}
.activation {
  width: 100%;
  position: relative;
  flex-direction: row;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1275px) {
  .frame-parent1 {
    flex-wrap: wrap;
  }
  .httpsyesimappinternationa {
    padding-top: 38px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1100px) {
  .httpsyesimappinternationa {
    padding-left: 300px;
    padding-right: 300px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .section2 {
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .section3 {
    gap: 16px;
  }
  .httpsyesimappinternationa {
    padding-left: 150px;
    padding-top: 25px;
    padding-right: 150px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading-22 {
    font-size: 16px;
    line-height: 19px;
  }
  .heading-23 {
    font-size: 19px;
    line-height: 26px;
  }
  .button-svg-parent {
    flex-wrap: wrap;
  }
  .heading-24 {
    font-size: 19px;
    line-height: 26px;
  }
}
