.div3 {
  position: relative;
  letter-spacing: -0.12px;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  min-width: 11px;
}
.overlay-frame,
.overlay4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.overlay4 {
  width: 40px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.46);
  justify-content: flex-start;
  padding: 9px 14px;
  box-sizing: border-box;
}
.overlay-frame {
  align-self: stretch;
  justify-content: center;
  padding: 0 20px;
}
.and-esim-data1,
.choose-the-destination1 {
  margin: 0;
}
.choose-the-destination-container1 {
  position: relative;
  letter-spacing: -0.12px;
  line-height: 22px;
  font-weight: 600;
}
.choose-the-destination-and-esi-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 19px 0 21px;
}
.image-icon27 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.background13,
.frame-parent12 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent12 {
  flex: 1;
  align-items: flex-end;
  gap: 12px;
  text-align: center;
  color: #0c0c0d;
}
.background13 {
  width: 230px;
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
  padding: 12px 0 0;
  box-sizing: border-box;
  gap: 4px;
  text-align: left;
  font-size: 17px;
  color: rgba(12, 12, 13, 0.46);
  font-family: Inter;
}
