.image-icon68 {
  height: 28px;
  width: 140px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.james-p2 {
  position: relative;
  letter-spacing: 0.05px;
  line-height: 18px;
  display: inline-block;
  min-width: 60.9px;
}
.container-icon23 {
  height: 20px;
  width: 20px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.james-p-container {
  flex: 1;
  flex-direction: row;
  gap: 6.6px;
}
.image-parent13,
.james-p-container,
.second-feedback {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.second-feedback {
  height: 24px;
  flex-direction: column;
  padding: 3.5px 0 0;
  box-sizing: border-box;
}
.image-parent13 {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 37.5px;
}
.works-very-well4 {
  position: relative;
  letter-spacing: -0.12px;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  min-width: 129.6px;
}
.a-service-but2,
.apn-is-set2,
.dependable-data-get2,
.to-be-all2,
.wont-be-disappointed2,
.works-very-well5 {
  margin: 0;
}
.works-very-well-container2 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 16px;
}
.svg-icon53 {
  height: 16px;
  width: 16px;
  position: relative;
}
.verified-purchaser16 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 18px;
}
.i-o-s-verifications {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 4px;
  color: rgba(12, 12, 13, 0.46);
}
.verifications {
  gap: 8px;
  font-size: 12px;
  color: rgba(12, 12, 13, 0.74);
}
.background35,
.verification-icons,
.verifications {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.verification-icons {
  gap: 3.5px;
  font-size: 17px;
  color: #0c0c0d;
}
.background35 {
  border-radius: 20px;
  background-color: #eaeaea;
  padding: 12px 12px 14.5px;
  gap: 24px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.image-icon69 {
  height: 28px;
  width: 140px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.sandra-j2 {
  position: relative;
  letter-spacing: 0.05px;
  line-height: 18px;
  display: inline-block;
  min-width: 63.2px;
}
.container-icon24 {
  height: 20px;
  width: 20px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
}
.sandra-j-container {
  flex: 1;
  flex-direction: row;
  gap: 6.6px;
}
.frame-wrapper9,
.image-parent14,
.sandra-j-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper9 {
  height: 24px;
  flex-direction: column;
  padding: 3.5px 0 0;
  box-sizing: border-box;
}
.image-parent14 {
  flex-direction: row;
  gap: 35.2px;
}
.very-satisfied2 {
  position: relative;
  font-size: 17px;
  letter-spacing: -0.12px;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  min-width: 117.5px;
}
.everywhere-coverage-was2,
.price-really-good2,
.stay-connected-while2,
.uzbekistan-azerbaijan-and2,
.very-satisfied-used2 {
  margin: 0;
}
.very-satisfied-used-container2 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 16px;
}
.very-satisfied-used-globalesy-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 4.5px;
  color: rgba(12, 12, 13, 0.74);
}
.svg-icon54 {
  height: 16px;
  width: 16px;
  position: relative;
}
.verified-purchaser17 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 18px;
}
.i-o-s-verification-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 4px;
  color: rgba(12, 12, 13, 0.46);
}
.background36,
.very-satisfied-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.very-satisfied-container {
  width: 243.5px;
  gap: 3.5px;
  font-size: 12px;
  color: #0c0c0d;
}
.background36 {
  border-radius: 20px;
  background-color: #eaeaea;
  padding: 12px 12px 14.5px;
  gap: 24px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.image-icon70 {
  align-self: stretch;
  height: 28px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.frame-button {
  cursor: pointer;
  border: 0;
  padding: 4.5px 0 0;
  background-color: transparent;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  min-width: 91px;
}
.h2,
.mohammed2 {
  margin: 0;
}
.mohammed-h-txt-container2 {
  line-break: anywhere;
  width: 100%;
}
.mohammed-h2 {
  height: 36px;
  width: 79px;
  position: relative;
  letter-spacing: 0.05px;
  line-height: 18px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.container-icon25 {
  height: 20px;
  width: 20px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent57 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 13px;
}
.top-app-for4,
.traveling2 {
  margin: 0;
}
.top-app-for-container7 {
  width: 100%;
}
.top-app-for-container6 {
  width: 230px;
  position: relative;
  letter-spacing: -0.12px;
  line-height: 22px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.and-have-no2,
.coverage-and-speed1,
.great-i-have2,
.top-app-for5 {
  margin: 0;
}
.top-app-for-container8 {
  align-self: stretch;
  position: relative;
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 16px;
  color: rgba(12, 12, 13, 0.74);
}
.top-app-for-the-international-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.5px;
}
.svg-icon55 {
  height: 16px;
  width: 16px;
  position: relative;
}
.verified-purchaser18 {
  flex: 1;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 18px;
}
.svg-parent12 {
  width: 160.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 4px;
  font-size: 12px;
  color: rgba(12, 12, 13, 0.46);
}
.background37,
.frame-parent58 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent58 {
  align-self: stretch;
  gap: 10px;
  font-size: 17px;
  color: #0c0c0d;
}
.background37 {
  width: 289px;
  border-radius: 20px;
  background-color: #eaeaea;
  flex-shrink: 0;
  padding: 11.5px 11px 14.5px 12px;
  box-sizing: border-box;
  gap: 24.5px;
  debug_commit: bf4bc93;
}
.image-icon71 {
  height: 28px;
  width: 140px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.henrike-m2 {
  height: 18px;
  flex: 1;
  position: relative;
  letter-spacing: 0.05px;
  line-height: 18px;
  display: flex;
  align-items: center;
}
.container-icon26 {
  height: 20px;
  width: 20px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
}
.henrike-m-container {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  gap: 6.7px;
}
.frame-wrapper10,
.henrike-m-container,
.image-parent15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper10 {
  height: 24px;
  width: 99.4px;
  flex-direction: column;
  padding: 3.5px 0 0;
  box-sizing: border-box;
}
.image-parent15 {
  flex-direction: row;
  gap: 25.6px;
}
.flexibility-i-was2,
.international-esim-gives4 {
  margin: 0;
}
.international-esim-gives-container7 {
  width: 100%;
}
.international-esim-gives-container6 {
  width: 226px;
  height: 44px;
  position: relative;
  letter-spacing: -0.12px;
  line-height: 22px;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.international-esim-gives5,
.looking-for-as2,
.to-different-locations2,
.trouble-buying-packages2 {
  margin: 0;
}
.international-esim-gives-container8 {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 16px;
  color: rgba(12, 12, 13, 0.74);
  display: flex;
  align-items: center;
}
.international-esim-gives-the-f-container {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.5px;
}
.svg-icon56 {
  height: 16px;
  width: 16px;
  position: relative;
}
.verified-purchaser19 {
  align-self: stretch;
  flex: 1;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 18px;
  display: flex;
  align-items: center;
}
.svg-parent13 {
  width: 160.4px;
  height: 18px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 4px;
  font-size: 12px;
  color: rgba(12, 12, 13, 0.46);
}
.background38,
.frame-parent59 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent59 {
  width: 256.9px;
  height: 147.5px;
  gap: 18px;
  font-size: 17px;
  color: #0c0c0d;
}
.background38 {
  border-radius: 20px;
  background-color: #eaeaea;
  padding: 12px 12px 14.5px;
  gap: 24px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.dietrich-c2,
.image-icon72 {
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.image-icon72 {
  height: 28px;
  width: 140px;
  overflow: hidden;
  object-fit: cover;
}
.dietrich-c2 {
  align-self: stretch;
  height: 18px;
  letter-spacing: 0.05px;
  line-height: 18px;
  display: flex;
  align-items: center;
}
.dietrich-c-frame,
.image-parent16 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.dietrich-c-frame {
  width: 70.4px;
  flex-direction: column;
  padding: 3.5px 0 0;
  flex-shrink: 0;
}
.image-parent16 {
  width: 104px;
  flex-direction: row;
  padding: 0;
  gap: 27.9px;
}
.container-icon27 {
  width: 20px;
  height: 20px;
  position: absolute;
  margin: 0 !important;
  top: 16px;
  right: 12px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
}
.european-countries-without2,
.i-have-used4,
.problem2 {
  margin: 0;
}
.i-have-used-container4 {
  align-self: stretch;
  flex: 1;
  position: relative;
  letter-spacing: -0.12px;
  line-height: 22px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.as-possible-from2,
.i-have-used5,
.without-any-problem2 {
  margin: 0;
}
.i-have-used-container5 {
  align-self: stretch;
  height: 48px;
  position: relative;
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 16px;
  color: rgba(12, 12, 13, 0.74);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.i-have-used-it-in-several-euro-group {
  width: 257.8px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.5px;
}
.svg-icon57,
.verified-purchaser20 {
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.svg-icon57 {
  height: 16px;
  width: 16px;
}
.verified-purchaser20 {
  align-self: stretch;
  width: 140.4px;
  letter-spacing: 0.2px;
  line-height: 18px;
  display: flex;
  align-items: center;
}
.long-verification-icon {
  align-self: stretch;
  height: 18px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 4px;
  font-size: 12px;
  color: rgba(12, 12, 13, 0.46);
}
.background39,
.long-verification-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.long-verification-container {
  width: 104px;
  flex: 1;
  padding: 0;
  gap: 12px;
  font-size: 17px;
  color: #0c0c0d;
}
.background39 {
  height: 226px;
  width: 289px;
  border-radius: 20px;
  background-color: #eaeaea;
  flex-shrink: 0;
  padding: 12px 12px 14.5px;
  position: relative;
  gap: 24px;
  debug_commit: bf4bc93;
}
.container-icon28 {
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0 !important;
  top: 4px;
  right: -13.8px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
}
.image-icon73 {
  height: 28px;
  width: 140px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.andrew-c2 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.05px;
  line-height: 18px;
}
.andrew-c-frame,
.image-parent17 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.andrew-c-frame {
  width: 70px;
  flex-direction: column;
  padding: 3.5px 0 0;
  box-sizing: border-box;
}
.image-parent17 {
  flex-direction: row;
  gap: 28.4px;
}
.awesome-app2 {
  width: 120px;
  height: 22px;
  position: relative;
  letter-spacing: -0.12px;
  line-height: 22px;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.awesome-app-very2,
.use-it-and2 {
  margin: 0;
}
.awesome-app-very-container2 {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 16px;
  color: rgba(12, 12, 13, 0.74);
  display: flex;
  align-items: center;
}
.positive-comments {
  align-self: stretch;
  flex-direction: column;
  gap: 3.5px;
  font-size: 17px;
  color: #0c0c0d;
}
.container-parent11,
.frame-parent60,
.positive-comments {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent60 {
  align-self: stretch;
  flex-direction: column;
  gap: 24px;
}
.container-parent11 {
  width: 251.2px;
  flex-direction: row;
  position: relative;
}
.svg-icon58 {
  height: 16px;
  width: 16px;
  position: absolute;
  margin: 0 !important;
  bottom: 0.5px;
  left: 0;
}
.verified-purchaser21 {
  align-self: stretch;
  flex: 1;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 18px;
  display: flex;
  align-items: center;
}
.verified-purchaser-android-wrapper4 {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  padding: 0 0 0 20px;
}
.background40,
.svg-parent14,
.verified-purchaser-android-wrapper4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.svg-parent14 {
  width: 185.6px;
  height: 18px;
  flex-direction: row;
  position: relative;
  font-size: 12px;
  color: rgba(12, 12, 13, 0.46);
}
.background40 {
  height: 226px;
  width: 289px;
  border-radius: 20px;
  background-color: #eaeaea;
  flex-shrink: 0;
  flex-direction: column;
  padding: 12px 12px 14.5px;
  box-sizing: border-box;
  gap: 72px;
  debug_commit: bf4bc93;
}
.container-icon29 {
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0 !important;
  top: 4px;
  right: 0.7px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
}
.artur-k2,
.image-icon74 {
  position: relative;
  flex-shrink: 0;
}
.image-icon74 {
  height: 28px;
  width: 140px;
  overflow: hidden;
  object-fit: cover;
}
.artur-k2 {
  align-self: stretch;
  height: 18px;
  letter-spacing: 0.05px;
  line-height: 18px;
  display: flex;
  align-items: center;
}
.artur-k-frame,
.image-parent18 {
  display: flex;
  align-items: flex-start;
}
.artur-k-frame {
  width: 51.4px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 3.5px 0 0;
  box-sizing: border-box;
}
.image-parent18 {
  width: 238.3px;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.needs2,
.this-is-what4 {
  margin: 0;
}
.this-is-what-container6 {
  align-self: stretch;
  flex: 1;
  position: relative;
  letter-spacing: -0.12px;
  line-height: 22px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.dealing-with-expensive2,
.every-country2,
.this-is-what5 {
  margin: 0;
}
.this-is-what-container8 {
  width: 100%;
}
.this-is-what-container7 {
  width: 256px;
  flex: 1;
  position: relative;
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 16px;
  color: rgba(12, 12, 13, 0.74);
  display: flex;
  align-items: center;
}
.this-is-what-the-modern-travel-container {
  flex-direction: column;
  gap: 3.5px;
  font-size: 17px;
  color: #0c0c0d;
}
.container-parent12,
.frame-parent61,
.this-is-what-the-modern-travel-container {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent61 {
  flex-direction: column;
  gap: 24px;
}
.container-parent12 {
  flex-direction: row;
  position: relative;
}
.svg-icon59 {
  height: 16px;
  width: 16px;
  position: absolute;
  margin: 0 !important;
  bottom: 0.5px;
  left: 0;
}
.verified-purchaser22 {
  align-self: stretch;
  flex: 1;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 18px;
  display: flex;
  align-items: center;
}
.verified-purchaser-android-wrapper5 {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  padding: 0 0 0 20px;
}
.background41,
.svg-parent15,
.verified-purchaser-android-wrapper5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.svg-parent15 {
  width: 185.6px;
  height: 18px;
  flex-direction: row;
  position: relative;
  font-size: 12px;
  color: rgba(12, 12, 13, 0.46);
}
.background41 {
  height: 226px;
  width: 289px;
  border-radius: 20px;
  background-color: #eaeaea;
  flex-shrink: 0;
  flex-direction: column;
  padding: 12px 11px 14.5px 12px;
  box-sizing: border-box;
  gap: 34px;
  debug_commit: bf4bc93;
}
.image-icon75,
.tina-m2 {
  position: relative;
  flex-shrink: 0;
}
.image-icon75 {
  height: 28px;
  width: 140px;
  overflow: hidden;
  object-fit: cover;
}
.tina-m2 {
  align-self: stretch;
  height: 18px;
  letter-spacing: 0.05px;
  line-height: 18px;
  display: flex;
  align-items: center;
}
.image-parent19,
.tina {
  display: flex;
  align-items: flex-start;
}
.tina {
  width: 49.9px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 3.5px 0 0;
  box-sizing: border-box;
}
.image-parent19 {
  width: 238.4px;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.and-great2,
.thanks-for-the4 {
  margin: 0;
}
.thanks-for-the-container6 {
  align-self: stretch;
  flex: 1;
  position: relative;
  letter-spacing: -0.12px;
  line-height: 22px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.and-very-high2,
.thanks-for-the5 {
  margin: 0;
}
.thanks-for-the-container8 {
  width: 100%;
}
.thanks-for-the-container7 {
  width: 253.2px;
  height: 32px;
  position: relative;
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 16px;
  color: rgba(12, 12, 13, 0.74);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-parent62,
.thanks-for-the-user-friendly-a-container {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.thanks-for-the-user-friendly-a-container {
  gap: 3.5px;
  font-size: 17px;
  color: #0c0c0d;
}
.frame-parent62 {
  gap: 24px;
}
.svg-icon60 {
  height: 16px;
  width: 16px;
  position: absolute;
  margin: 0 !important;
  bottom: 0.5px;
  left: 0;
}
.verified-purchaser23 {
  align-self: stretch;
  flex: 1;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 18px;
  display: flex;
  align-items: center;
}
.verified-purchaser-android-wrapper6 {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  padding: 0 0 0 20px;
}
.background42,
.container14,
.svg-parent16,
.verified-purchaser-android-wrapper6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.svg-parent16 {
  width: 185.6px;
  height: 18px;
  flex-direction: row;
  position: relative;
  font-size: 12px;
  color: rgba(12, 12, 13, 0.46);
}
.background42,
.container14 {
  box-sizing: border-box;
}
.background42 {
  height: 226px;
  width: 289px;
  border-radius: 20px;
  background-color: #eaeaea;
  flex-shrink: 0;
  flex-direction: column;
  padding: 12px 12px 14.5px;
  gap: 50px;
  debug_commit: bf4bc93;
}
.container14 {
  width: 720px;
  overflow-x: auto;
  flex-direction: row;
  padding: 0 24px;
  gap: 6px;
  max-width: 100%;
  text-align: left;
  font-size: 14px;
  color: rgba(12, 12, 13, 0.74);
  font-family: Inter;
}
@media screen and (max-width: 450px) {
  .image-parent13 {
    gap: 19px;
  }
  .image-parent14 {
    flex-wrap: wrap;
    gap: 18px;
  }
  .image-parent15 {
    flex-wrap: wrap;
  }
  .background40 {
    gap: 36px;
  }
  .background41 {
    gap: 17px;
  }
  .background42 {
    gap: 25px;
  }
}
