.become-anonymous-online,
.get-your-virtual,
.number {
  margin: 0;
}
.become-anonymous-online-container {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.4px;
  line-height: 36px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.placeholder {
  position: relative;
  font-size: 14px;
  letter-spacing: -0.1px;
  line-height: 18px;
  display: inline-block;
  font-family: Inter;
  color: #fff;
  text-align: left;
  min-width: 23px;
}
.svg-icon87 {
  width: 17px;
  height: 16px;
  position: relative;
}
.background45,
.partner-logos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
}
.background45 {
  cursor: pointer;
  border: 0;
  padding: 1.5px 4px 1.5px 7px;
  background-color: #34c759;
  border-radius: 30px;
  flex-direction: row;
  gap: 1.2px;
}
.button-svg14,
.button-svg15 {
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 21px;
}
.button-svg15 {
  left: 29px;
  width: 20px;
}
.buttons {
  height: 21px;
  flex: 1;
  position: relative;
}
.button-background-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.k-ratings2 {
  position: relative;
  letter-spacing: 0.05px;
  line-height: 18px;
  display: inline-block;
  min-width: 83px;
}
.connectivity-description {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 27px;
}
.button-wrapper-wrapper,
.button-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.button-wrapper1 {
  align-self: stretch;
  justify-content: flex-start;
  gap: 8px;
}
.button-wrapper-wrapper {
  width: 110.6px;
  justify-content: flex-end;
  padding: 0 0 30px;
  box-sizing: border-box;
  font-size: 14px;
}
.become-anonymous-online-get-y-parent {
  width: 721.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
  text-align: left;
  font-size: 34px;
  color: #0c0c0d;
  font-family: Inter;
}
@media screen and (max-width: 1050px) {
  .become-anonymous-online-container {
    font-size: 27px;
    line-height: 29px;
  }
}
@media screen and (max-width: 750px) {
  .become-anonymous-online-get-y-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .become-anonymous-online-container {
    font-size: 20px;
    line-height: 22px;
  }
}
