.globalesync1,
.our-users-feedback1 {
  margin: 0;
}
.our-users-feedback-container1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.1px;
  line-height: 32px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  max-width: 100%;
}
.button-svg10,
.button-svg11 {
  height: 40px;
  width: 40px;
  position: relative;
  min-height: 40px;
}
.button-svg11 {
  object-fit: contain;
}
.feedback-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.feedback-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 11.5px;
}
.feedback-container,
.feedback-container-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.feedback-container {
  flex: 1;
  align-items: flex-end;
  gap: 70.4px;
}
.feedback-container-wrapper {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 24px;
  box-sizing: border-box;
  text-align: left;
  font-size: 24px;
  color: #0c0c0d;
  font-family: Inter;
}
@media screen and (max-width: 750px) {
  .feedback-container {
    flex-wrap: wrap;
    gap: 35px;
  }
}
@media screen and (max-width: 450px) {
  .our-users-feedback-container1 {
    font-size: 19px;
    line-height: 26px;
  }
  .feedback-container {
    gap: 18px;
  }
}
