.heading-216 {
  margin: 0;
  width: 454.1px;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.1px;
  line-height: 32px;
  font-weight: 600;
  font-family: inherit;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.what-is-an1 {
  align-self: stretch;
  position: relative;
  line-height: 18px;
  font-weight: 500;
}
.faq-questions {
  width: 307.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
  box-sizing: border-box;
}
.svg-icon71 {
  height: 16px;
  width: 16px;
  position: relative;
}
.f-a-q-items {
  width: 688px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  max-width: 100%;
}
.horizontal-divider16 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-bottom: 1px solid rgba(12, 12, 13, 0.06);
  box-sizing: border-box;
}
.how-to-activate1 {
  align-self: stretch;
  position: relative;
  line-height: 18px;
  font-weight: 500;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.how-to-activate-esim-mobile-in-container {
  width: 332.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
  box-sizing: border-box;
  max-width: calc(100% - 36px);
}
.svg-icon72 {
  height: 16px;
  width: 16px;
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.f-a-q-items1 {
  width: 688px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  max-width: 100%;
}
.horizontal-divider17 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-bottom: 1px solid rgba(12, 12, 13, 0.06);
  box-sizing: border-box;
}
.can-i-make1 {
  position: relative;
  line-height: 18px;
  font-weight: 500;
}
.can-i-make-phone-calls-or-send-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
}
.svg-icon73 {
  height: 16px;
  width: 16px;
  position: relative;
}
.f-a-q-items2 {
  width: 688px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  max-width: 100%;
}
.horizontal-divider18 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-bottom: 1px solid rgba(12, 12, 13, 0.06);
  box-sizing: border-box;
}
.can-an-esim1 {
  position: relative;
  line-height: 18px;
  font-weight: 500;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.can-an-esim-card-be-re-used-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
}
.svg-icon74 {
  height: 16px;
  width: 16px;
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.f-a-q-items3 {
  width: 688px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  max-width: 100%;
}
.horizontal-divider19 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-bottom: 1px solid rgba(12, 12, 13, 0.06);
  box-sizing: border-box;
}
.is-my-device1 {
  align-self: stretch;
  position: relative;
  line-height: 18px;
  font-weight: 500;
}
.is-my-device-compatible-with-e-container {
  width: 444.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
  box-sizing: border-box;
  max-width: calc(100% - 36px);
}
.svg-icon75 {
  height: 16px;
  width: 16px;
  position: relative;
}
.f-a-q-items4 {
  width: 688px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  max-width: 100%;
}
.horizontal-divider20 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-bottom: 1px solid rgba(12, 12, 13, 0.06);
  box-sizing: border-box;
}
.when-does-the1 {
  position: relative;
  line-height: 18px;
  font-weight: 500;
}
.when-does-the-esim-mobile-data-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
  box-sizing: border-box;
  max-width: calc(100% - 36px);
}
.svg-icon76 {
  height: 16px;
  width: 16px;
  position: relative;
}
.f-a-q-items5 {
  width: 688px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  max-width: 100%;
}
.horizontal-divider21 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-bottom: 1px solid rgba(12, 12, 13, 0.06);
  box-sizing: border-box;
}
.can-i-extend1 {
  position: relative;
  line-height: 18px;
  font-weight: 500;
}
.can-i-extend-the-esim-celllula-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
  box-sizing: border-box;
  max-width: calc(100% - 36px);
}
.svg-icon77 {
  height: 16px;
  width: 16px;
  position: relative;
}
.f-a-q-items6 {
  width: 688px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  max-width: 100%;
}
.horizontal-divider22 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-bottom: 1px solid rgba(12, 12, 13, 0.06);
  box-sizing: border-box;
}
.what-are-ycoins1 {
  position: relative;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  min-width: 116.3px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.what-are-ycoins-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
}
.svg-icon78 {
  height: 16px;
  width: 16px;
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.f-a-q-items7 {
  width: 688px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  max-width: 100%;
}
.can-i-get1,
.horizontal-divider23 {
  align-self: stretch;
  position: relative;
}
.horizontal-divider23 {
  height: 1px;
  border-bottom: 1px solid rgba(12, 12, 13, 0.06);
  box-sizing: border-box;
}
.can-i-get1 {
  line-height: 18px;
  font-weight: 500;
}
.can-i-get-a-refund-for-globale-container {
  width: 254px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
  box-sizing: border-box;
}
.svg-icon79 {
  height: 16px;
  width: 16px;
  position: relative;
}
.f-a-q-items8 {
  width: 688px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  max-width: 100%;
}
.horizontal-divider24 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-bottom: 1px solid rgba(12, 12, 13, 0.06);
  box-sizing: border-box;
}
.can-i-tether1 {
  position: relative;
  line-height: 18px;
  font-weight: 500;
}
.can-i-tether-use-personal-ho-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
}
.svg-icon80 {
  height: 16px;
  width: 16px;
  position: relative;
}
.f-a-q-items9 {
  width: 688px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  max-width: 100%;
}
.can-i-keep1,
.horizontal-divider25 {
  align-self: stretch;
  position: relative;
}
.horizontal-divider25 {
  height: 1px;
  border-bottom: 1px solid rgba(12, 12, 13, 0.06);
  box-sizing: border-box;
}
.can-i-keep1 {
  line-height: 18px;
  font-weight: 500;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.f-a-q-questions {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
  box-sizing: border-box;
  min-width: 401px;
  max-width: 100%;
}
.svg-icon81 {
  height: 16px;
  width: 16px;
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.f-a-q-items10 {
  width: 688px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 55.2px;
  max-width: 100%;
}
.horizontal-divider26 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-bottom: 1px solid rgba(12, 12, 13, 0.06);
  box-sizing: border-box;
}
.how-to-transfer {
  position: relative;
  line-height: 18px;
  font-weight: 500;
}
.how-to-transfer-esim-to-a-new-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
}
.svg-icon82 {
  height: 16px;
  width: 16px;
  position: relative;
}
.f-a-q-items11 {
  width: 688px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  max-width: 100%;
}
.horizontal-divider27 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-bottom: 1px solid rgba(12, 12, 13, 0.06);
  box-sizing: border-box;
}
.are-there-any1 {
  position: relative;
  line-height: 18px;
  font-weight: 500;
}
.are-there-any-contracts-like-t-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
  box-sizing: border-box;
  max-width: calc(100% - 36px);
}
.svg-icon83 {
  height: 16px;
  width: 16px;
  position: relative;
}
.f-a-q-items12 {
  width: 688px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  max-width: 100%;
}
.horizontal-divider28 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-bottom: 1px solid rgba(12, 12, 13, 0.06);
  box-sizing: border-box;
}
.bottom-f-a-q {
  width: 688px;
  height: 36px;
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  color: #0c0c0d;
  max-width: 100%;
}
.horizontal-divider29 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-bottom: 1px solid rgba(12, 12, 13, 0.06);
  box-sizing: border-box;
}
.divider-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  max-width: 100%;
}
.what-is-the2 {
  position: relative;
  line-height: 18px;
  font-weight: 500;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.what-is-the-fair-usage-policy-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
  box-sizing: border-box;
  max-width: calc(100% - 36px);
}
.svg-icon84 {
  height: 16px;
  width: 16px;
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.f-a-q-items13 {
  width: 688px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  max-width: 100%;
}
.horizontal-divider30 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-bottom: 1px solid rgba(12, 12, 13, 0.06);
  box-sizing: border-box;
}
.why-is-my1 {
  position: relative;
  line-height: 18px;
  font-weight: 500;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.why-is-my-data-speed-slow-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
}
.svg-icon85 {
  height: 16px;
  width: 16px;
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.f-a-q-items14 {
  width: 688px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  max-width: 100%;
}
.horizontal-divider31 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-bottom: 1px solid rgba(12, 12, 13, 0.06);
  box-sizing: border-box;
}
.how-can-i1 {
  position: relative;
  line-height: 18px;
  font-weight: 500;
}
.how-can-i-check-my-data-plan-b-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
  box-sizing: border-box;
  max-width: calc(100% - 36px);
}
.svg-icon86 {
  height: 16px;
  width: 16px;
  position: relative;
}
.f-a-q-container,
.f-a-q-items15,
.section12 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.f-a-q-items15 {
  width: 688px;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.f-a-q-container,
.section12 {
  flex-direction: column;
  justify-content: flex-start;
}
.f-a-q-container {
  align-self: stretch;
  gap: 16.5px;
  font-size: 14px;
}
.section12 {
  width: 720px;
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
  padding: 15.5px 0 25px 16px;
  box-sizing: border-box;
  gap: 32.5px;
  text-align: left;
  font-size: 24px;
  color: #0c0c0d;
  font-family: Inter;
}
@media screen and (max-width: 1050px) {
  .section12 {
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .f-a-q-questions {
    min-width: 100%;
  }
  .f-a-q-items10 {
    gap: 28px;
  }
  .section12 {
    gap: 16px;
  }
}
@media screen and (max-width: 450px) {
  .heading-216 {
    font-size: 19px;
    line-height: 26px;
  }
}
